# Большие файлы дизайна
design/*.psd
design/*.zip
*.psd
*.zip

# Переменные окружения
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Временные файлы
*.tmp
*.temp
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 